.inter-top
{
    margin-top: 10px;
}
.max-width
{
    max-width: 500px;
}
.head-max-width
{
    max-width: 170px;
}
.view-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}