<!DOCTYPE HTML>
<html xmlns:v-on="http://www.w3.org/1999/xhtml"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Boot-CRM</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="./css/sb-admin-2.css" rel="stylesheet" />
	<link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/sweetalert.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script type="text/javascript">

		function objectToQueryString(obj) {
			return Object.keys(obj).map(function (key) {
				return "".concat(encodeURIComponent(key), "=").concat(encodeURIComponent(obj[key]));
			}).join('&');
		}
        function format (fmt) {
            var o = {
                "M+": this.getMonth() + 1, // 月份
                "d+": this.getDate(), // 日
                "h+": this.getHours(), // 小时
                "m+": this.getMinutes(), // 分
                "s+": this.getSeconds(), // 秒
                "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
                "S": this.getMilliseconds() // 毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + ""));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        window.onload=function () {

            let wrapper = new Vue(
                {
                    el: "#wrapper",
                    data: {
                        userSession:{},
                        customerFrom: ["电话营销", "网络营销", "老客户"],
                        custIndustry: ["教育培训", "对外贸易", "电子商务", "酒店旅游", "房地产"],
                        custLevel: ["普通客户", "VIP"],
                        cust: [],
						product: [],
						reply:[],
                        size: 0,
                        total: 0,
                        totalPage: 0,
                        pages: [],
                        searching: {
                            page: 1,
                            customerName: "",
                            customerFromSelect: "",
                            custIndustrySelect: "",
                            custLevelSelect: ""
                        },
                        customerTemp: {
                            edit_cust_id: "",
                            edit_customerName: "",
                            edit_customerFrom: "",
                            edit_custIndustry: "",
                            edit_custLevel: "",
                            edit_linkMan: "",
                            edit_phone: "",
                            edit_mobile: "",
                            edit_zipcode: "",
                            edit_address: "",
                        },
                        headResult:'',//选择框图像
                        charts:[]
                    },
                    methods:
                        {
                            onload() {
                                this.userSession = JSON.parse(sessionStorage.getItem("USER_SESSION"));
                                if(undefined ===this.userSession.user_pic)
                                {
                                    this.headResult = './images/userhead.jpg';
                                    this.userSession.user_pic='./images/userhead.jpg'
                                }
                                else
                                {
                                    this.headResult = this.userSession.user_pic
                                }
                                this.search();
								this.getProducts();
                                this.getReplies();
                            },
                            initCharts() {
                                if(undefined === this.charts.customerNumLine)
                                {
                                	let message = ""
                                    axios.post("./customer/customerNumChange.do")
                                        .then((res) => {
                                            if (1 === res.data.flag) {

                                                    let key=[];
                                                    let value=[];
                                                    res.data.obj.forEach(e=>
                                                    {
                                                        key.push(e.cust_createtime);
                                                        value.push(e.count);
                                                    });
                                                    console.log(key,value);
                                                let option = {
													tooltip: {
														trigger: 'axis',
														axisPointer: {
															type: 'cross',
															crossStyle: {
																color: '#999'
															}
														}
													},
													toolbox: {
														feature: {
															saveAsImage: {show: true}
														}
													},
                                                    xAxis: {
														name:"日期",
                                                        type: 'category',
                                                        boundaryGap: false,
                                                        data:key,
                                                    },
                                                    yAxis: {
														name:'新增人数',
                                                        type: 'value',
														axisLabel: {
															formatter: '{value} 人'
														}
                                                    },
                                                    series: [{
														name:"新增人数",
                                                        data: value,
                                                        type: 'line'
                                                    }],
                                                    dataZoom: [
                                                        {
                                                            type: 'inside',
                                                            realtime: true,

                                                        },
                                                        {
                                                            type:'slider',
                                                            start:0,
                                                            end:50
                                                        }
                                                    ]
                                                };
                                                this.charts.customerNumLine = echarts.init(document.getElementById('customerNumLine'));
                                                this.charts.customerNumLine.setOption(option);
                                                wrapper.charts.customerNumLine.resize();
                                            } else {
                                                message+="chart1:"+res.data ? res.data.content:"未知错误"
                                            }
                                        });
                                }

								if(undefined === this.charts.productNumBar)
								{
									let key=[];
									let value1=[];
									let value2=[];
									this.product.forEach(e=>
									{
										key.push(e.product_name);
										value1.push(e.product_sell_num);
										value2.push(e.product_price);
									});
									if(0!==this.product.size)
									{
										let option = {
											tooltip: {
												trigger: 'axis',
												axisPointer: {
													type: 'cross',
													crossStyle: {
														color: '#999'
													},
													label:
															{
																show:true
															}
												}
											},
											toolbox: {
												feature: {
													dataView: {show: true, readOnly: false},
													magicType: {show: true, type: ['line', 'bar']},
													restore: {show: true},
													saveAsImage: {show: true}
												}
											},
											legend: {
												data:['销售量','价格']
											},
											xAxis: [
												{
													type: 'category',
													data: key,
													axisPointer: {
														type: 'shadow'
													}
												}
											],
											yAxis: [
												{
													type: 'value',
													name: '销售量',
													min: 0,
													interval: 30,
													axisLabel: {
														formatter: '{value} 台'
													}
												},
												{
													type: 'value',
													name: '价格',
													min: 0,
													interval: 700,
													axisLabel: {
														formatter: '{value} 元'
													}
												}
											],
											dataZoom: [
												{
													type: 'inside',
													realtime: true,

												},
												{
													type:'slider',
													start:0,
													end:50
												}
											],
											series: [
												{
													name:'销售量',
													type:'bar',
													data:value1
												},
												{
													name:'价格',
													type:'line',
													yAxisIndex: 1,
													data:value2
												}
											]
										};
										this.charts.productNumBar = echarts.init(document.getElementById('productNumBar'));
										this.charts.productNumBar.setOption(option);
										console.log(this.charts.productNumBar)
										wrapper.charts.productNumBar.resize();
									}
									else
									{
										message+="\nchart2:"+"无产品数据"
									}
								}
                            },
                            saveUserInfo(){
                                let t = this.userSession;
                                if("./images/userhead.jpg"===t.user_pic)
                                {
                                    delete t.user_pic
                                }
                                axios.post("./request/updateUser.do", objectToQueryString(t))
                                    .then((res) => {
                                        if (1 === res.data.flag) {
                                            swal(res.data ? res.data.content:"未知错误")
                                            sessionStorage.setItem("USER_SESSION",JSON.stringify(this.userSession))
                                        } else {
                                            swal(res.data ? res.data.content:"未知错误")
                                        }
                                    })
                            },
							getProducts() {
								axios.post('./product/getproducts.do')
								.then(res=>
								{
									console.log(res);
									if (1 === res.data.flag) {
										this.product = res.data.obj
									}
									else
									{
										swal(res.data ? res.data.content:"未知错误")
									}
								})
							},
                            getReplies() {
                                axios.post('./reply/getreplies.do')
                                    .then(res=>
                                    {
                                        console.log(res);
                                        if (1 === res.data.flag) {
                                            let name=[];
                                            let result = res.data.obj;
                                            result.forEach(e=> {
											    if(name.indexOf(e)<=-1)
												{
                                                    name.push(e.product_name)
												}
											})
											name.forEach(e=> {
                                                let temp={
                                                    name:e,
                                                    replies:[]
                                                };
                                                for (let i = 0; i <  result.length; i++) {
                                                    if(e === result[i].product_name) {
                                                        let temp1 ={
                                                            reply_id:result[i].reply_id,
                                                            cust_id:result[i].cust_id,
                                                            product_id:result[i].product_id,
                                                            reply_comment:result[i].reply_comment,
                                                            reply_time:format(result[i].reply_time,'YYYY-MM-DD HH:ii:ss')
                                                        }
                                                        temp.replies.push(temp1);
													}
                                                }
                                                wrapper.reply.push(temp);
											})
											console.log(this.reply);
                                        }
                                        else
                                        {
                                            swal(res.data ? res.data.content:"未知错误")
                                        }
                                    })
                            },
                            search(index) {
                                if (index !== undefined) {
                                    this.searching.page = index
                                }
                                axios.post('./customer/list.do', "page=" + this.searching.page +
                                    "&custName=" + wrapper.searching.customerName +
                                    "&custSource=" + wrapper.searching.customerFromSelect +
                                    "&custIndustry=" + wrapper.searching.custIndustrySelect +
                                    "&custLevel=" + wrapper.searching.custLevelSelect)
                                    .then(res => {
                                        if (1 === res.data.flag) {
                                            this.size = res.data.obj.size;
                                            this.searching.page = res.data.obj.page;
                                            this.total = res.data.obj.total;
                                            this.cust = res.data.obj.rows;
                                            this.totalPage = Math.floor(this.total / this.size);
                                            let rest = this.total % this.size;
                                            if (rest > 0) this.totalPage++;
                                            let localPages = [];
                                            for (let i = 1; i <= this.totalPage; i++) {
                                                localPages.push(i);
                                            }
                                            if (this.totalPage > 5) {
                                                if (this.searching.page > this.totalPage - 2) {
                                                    this.pages = localPages.slice(-5);
                                                } else if (this.searching.page < 3) {
                                                    this.pages = localPages.slice(0, 5);
                                                } else {
                                                    this.pages = localPages.slice(this.searching.page - 3, this.searching.page + 2);
                                                }
                                            } else
                                                this.pages = localPages.slice(0, localPages.length);
                                        } else {
                                        }
                                    })
                            },
                            nextPage() {
                                if (this.searching.page < this.totalPage - 1) {
                                    this.searching.page++
                                }
                                this.search()
                            },
                            prevPage() {
                                if (this.searching.page > 1) {
                                    this.searching.page--
                                }
                                this.search()
                            },
                            // 创建客户
                            createCustomer() {
                                axios.post('./customer/create.do', $("#new_customer_form").serialize()).then(res => {
                                    if (1 === res.data.flag) {
                                        swal(res.data.content).then(() => {
                                            window.location.reload();
                                        })
                                    } else {
                                        swal(res.data.content).then(() => {
                                            window.location.reload();
                                        })
                                    }
                                });
                            },
                            editCustomer(index) {
                                this.customerTemp = {
                                    edit_cust_id: this.cust[index].cust_id,
                                    edit_customerName: this.cust[index].cust_name,
                                    edit_customerFrom: this.cust[index].cust_source,
                                    edit_custIndustry: this.cust[index].cust_industry,
                                    edit_custLevel: this.cust[index].cust_level,
                                    edit_linkMan: this.cust[index].cust_linkman,
                                    edit_phone: this.cust[index].cust_phone,
                                    edit_mobile: this.cust[index].cust_mobile,
                                    edit_zipcode: this.cust[index].cust_zipcode,
                                    edit_address: this.cust[index].cust_address,
                                }
                            },
                            // 执行修改客户操作
                            updateCustomer() {
                                axios.post('./customer/update.do', $("#edit_customer_form").serialize()).then(res => {
                                    if (1 === res.data.flag) {
                                        swal(res.data.content).then(() => {
                                            window.location.reload();
                                        })
                                    } else {
                                        swal(res.data.content).then(() => {
                                            window.location.reload();
                                        })
                                    }
                                });

                            },
                            // 删除客户
                            deleteCustomer(id) {
                                swal("确实要删除该客户吗?", {
                                    dangerMode: true,
                                    buttons: true,
                                }).then(() => {
                                    axios.post('./customer/delete.do', "id=" + id)
                                        .then(res => {
                                            if (1 === res.data.flag) {
                                                swal(res.data.content).then(() => {
                                                    window.location.reload();
                                                })
                                            } else {
                                                swal(res.data.content).then(() => {
                                                    window.location.reload();
                                                })
                                            }
                                        })
                                })
                            },
                            clearCustomer() {
                                this.customerTemp = {
                                    edit_cust_id: "",
                                    edit_customerName: "",
                                    edit_customerFrom: "",
                                    edit_custIndustry: "",
                                    edit_custLevel: "",
                                    edit_linkMan: "",
                                    edit_phone: "",
                                    edit_mobile: "",
                                    edit_zipcode: "",
                                    edit_address: "",
                                }
                            },
                            handleFile(e)
                            {
                                let file =e.target.files[0];
                                if("image/jpeg"===file.type)
                                {
                                    if(file.size<1024*1024)
                                    {
                                        let reader = new FileReader();
                                        reader.readAsDataURL(file);
                                        reader.onload = function(e) {
                                            wrapper.headResult =e.target.result;
                                            Vue.set(wrapper.userSession,"user_pic",wrapper.headResult);
                                        }
                                    }
                                    else
                                    {
                                        swal("文件太大,请上传小于1M大小的文件");
                                    }
                                }
                                else
                                {
                                    swal("文件格式不正确");
                                }

                            }
                        }
                }
            );
			var $nav = $("#wrapper");
			$nav.on("show.bs.tab", "[href='#view']", function () {
				wrapper.initCharts();
			});
            wrapper.onload();
            window.onresize = function () {
				wrapper.charts.forEach(e=>
				{
					e && e.resize();
				})
            }
        };
        function logout() {
            $.ajax({
                url: "./request/logout.do",
                method: "post"
            }).then(() => {
                swal("退出成功").then(() => {
                    window.location.href = "./index.html"
                });

            }).catch(() => {
                swal("退出失败");
            })
        }
    </script>
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			<span class="sr-only">下拉菜单</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="./index.html">BOOT-CRM</a>
	</div>
	  <div id="navbar" class="collapse navbar-collapse">
		  <ul class="nav navbar-top-links navbar-right">
			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  <i class="fa fa-user fa-fw"></i>
					  <i class="fa fa-caret-down"></i>
				  </a>
				  <ul class="dropdown-menu dropdown-user">
					  <li >
                          <a data-toggle="tab" href="#center"><i class="fa fa-user fa-fw"></i>
						  用户:{{userSession.user_name}}
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a href="#" onclick="logout();">
							  <i class="fa fa-sign-out fa-fw"></i>退出登录
						  </a>
					  </li>
				  </ul>
			  </li>
		  </ul>
		  <div class="navbar-default sidebar" role="navigation">
			  <div class="sidebar-nav navbar-collapse">
				  <ul class="nav" id="side-menu">
					  <li>
						  <a data-toggle="tab" href="#customer">
							  <i class="fa fa-edit fa-fw"></i> 客户管理
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#product">
							  <i class="fa fa-laptop fa-fw" aria-hidden="true"></i> 产品信息
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#view">
							  <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> 资源可视化
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#reply">
							  <i class="fa fa-comment fa-fw" aria-hidden="true"></i> 回复
						  </a>
					  </li>
				  </ul>
			  </div>
		  </div>
	  </div>
  </nav>
	<div id="page-wrapper">
        <div style="padding-top: 20px"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="customer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="customerName">客户名称</label>
                                <input type="text" class="form-control" id="customerName" v-model="searching.customerName"/>
                            </div>
                            <div class="form-group">
                                <label for="customerFrom">客户来源</label>
                                <select	class="form-control" id="customerFrom" v-model="searching.customerFromSelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in customerFrom">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="custIndustry">所属行业</label>
                                <select	class="form-control" id="custIndustry" v-model="searching.custIndustrySelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in custIndustry">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="custLevel">客户级别</label>
                                <select	class="form-control" id="custLevel" v-model="searching.custLevelSelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in custLevel">{{item}}</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-sm pull-right" v-on:click="search(undefined)">查询</button>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">客户信息列表</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>客户名称</th>
                                <th>客户来源</th>
                                <th>客户所属行业</th>
                                <th>客户级别</th>
                                <th>固定电话</th>
                                <th>手机</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in cust">
                                <td>{{item.cust_id}}</td>
                                <td>{{item.cust_name}}</td>
                                <td>{{item.cust_source}}</td>
                                <td>{{item.cust_industry}}</td>
                                <td>{{item.cust_level}}</td>
                                <td>{{item.cust_phone}}</td>
                                <td>{{item.cust_mobile}}</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#customerEditDialog" @click= "editCustomer(index)">修改</a>
                                    <a href="#" class="btn btn-danger btn-xs" @click="deleteCustomer(item.cust_id)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-primary btn-sm pull-right inter-top" data-toggle="modal" data-target="#newCustomerDialog" @click="clearCustomer">新建</a>
                        <div class="col-md-12 text-right">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li v-bind:class="{disabled:searching.page==1}">
                                        <a role="button" @click="prevPage" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li v-for="item in pages" v-bind:class="{active:searching.page==item}" >
										<span role="button" @click="search(item)">{{item}}</span>
									</li>
                                    <li v-bind:class="{disabled:searching.page==totalPage}" >
										<a role="button" @click="nextPage" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
				<div class="modal fade" id="newCustomerDialog" tabindex="-1" role="dialog"
					 aria-labelledby="newCustom">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="newCustom">新建客户信息</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" id="new_customer_form">
									<div class="form-group">
										<label for="new_customerName" class="col-sm-2 control-label">客户名称</label>
										<div class="col-sm-10">
											<input type="text" v-model="customerTemp.edit_customerName" class="form-control" id="new_customerName" placeholder="客户名称" name="cust_name" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_customerFrom" class="col-sm-2 control-label">客户来源</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10"  v-model="customerTemp.edit_customerFrom" id="new_customerFrom" name="cust_source">
												<option value="">请选择</option>
												<option v-for="item in customerFrom">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="new_custIndustry" class="col-sm-2 control-label">所属行业</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10" v-model="customerTemp.edit_custIndustry" id="new_custIndustry" name="cust_industry">
												<option value="">请选择</option>
												<option v-for="item in custIndustry">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="new_custLevel" class="col-sm-2 control-label">客户级别</label>
										<div class="col-sm-10">
											<select	class="form-control" v-model="customerTemp.edit_custLevel" id="new_custLevel" name="cust_level" >
												<option value="">请选择</option>
												<option v-for="item in custLevel">{{item}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="new_linkMan" class="col-sm-2 control-label">联系人</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_linkMan" id="new_linkMan" placeholder="联系人" name="cust_linkman" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_phone" class="col-sm-2 control-label">固定电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"  v-model="customerTemp.edit_phone"  id="new_phone" placeholder="固定电话" name="cust_phone" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_mobile" class="col-sm-2 control-label">移动电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_mobile" id="new_mobile" placeholder="移动电话" name="cust_mobile" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_zipcode" class="col-sm-2 control-label">邮政编码</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_zipcode" id="new_zipcode" placeholder="邮政编码" name="cust_zipcode" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_address" class="col-sm-2 control-label">联系地址</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_address" id="new_address" placeholder="联系地址" name="cust_address" />
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="createCustomer">创建客户</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="customerEditDialog" tabindex="-1" role="dialog"
					 aria-labelledby="editCustom">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="editCustom">编辑客户信息</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" id="edit_customer_form">
									<input type="text" v-model="customerTemp.edit_cust_id" class="form-control hidden" id="new_cust_id"  name="cust_id" />
									<div class="form-group">
										<label for="edit_customerName" class="col-sm-2 control-label">客户名称</label>
										<div class="col-sm-10">
											<input type="text" v-model="customerTemp.edit_customerName" class="form-control" id="edit_customerName" placeholder="客户名称" name="cust_name" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_customerFrom" class="col-sm-2 control-label">客户来源</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10"  v-model="customerTemp.edit_customerFrom" id="edit_customerFrom" name="cust_source">
												<option value="">请选择</option>
												<option v-for="item in customerFrom">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="edit_custIndustry" class="col-sm-2 control-label">所属行业</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10" v-model="customerTemp.edit_custIndustry" id="edit_custIndustry" name="cust_industry">
												<option value="">请选择</option>
												<option v-for="item in custIndustry">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="edit_custLevel" class="col-sm-2 control-label">客户级别</label>
										<div class="col-sm-10">
											<select	class="form-control" v-model="customerTemp.edit_custLevel" id="edit_custLevel" name="cust_level" >
												<option value="">请选择</option>
												<option v-for="item in custLevel">{{item}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="edit_linkMan" class="col-sm-2 control-label">联系人</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_linkMan" id="edit_linkMan" placeholder="联系人" name="cust_linkman" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_phone" class="col-sm-2 control-label">固定电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"  v-model="customerTemp.edit_phone"  id="edit_phone" placeholder="固定电话" name="cust_phone" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_mobile" class="col-sm-2 control-label">移动电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_mobile" id="edit_mobile" placeholder="移动电话" name="cust_mobile" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_zipcode" class="col-sm-2 control-label">邮政编码</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_zipcode" id="edit_zipcode" placeholder="邮政编码" name="cust_zipcode" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_address" class="col-sm-2 control-label">联系地址</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_address" id="edit_address" placeholder="联系地址" name="cust_address" />
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="updateCustomer">保存修改</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="tab-pane" id="view">
                <div class="panel panel-default">
                    <div class="panel-heading">客户人数增加情况</div>
                    <div class="panel-body view-container">
                        <div id="customerNumLine" style="width: 600px;height: 300px"></div>
                    </div>
                </div>
				<div class="panel panel-default">
					<div class="panel-heading">产品售出/价格情况</div>
					<div class="panel-body view-container">
						<div id="productNumBar" style="width: 600px;height: 300px"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="product">
				<div class="panel panel-default">
					<div class="panel-heading">产品信息列表</div>
					<div class="panel-body">
						<table class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>编号</th>
								<th>产品名称</th>
								<th>产品价格(元)</th>
								<th>产品总数量</th>
								<th>产品售出数量</th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(item,index) in product">
								<td>{{item.product_id}}</td>
								<td>{{item.product_name}}</td>
								<td>{{item.product_price}}</td>
								<td>{{item.product_num}}</td>
								<td>{{item.product_sell_num}}</td>
<!--								<td>-->
<!--									<a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#customerEditDialog" @click= "editCustomer(index)">修改</a>-->
<!--									<a href="#" class="btn btn-danger btn-xs" @click="deleteCustomer(item.cust_id)">删除</a>-->
<!--								</td>-->
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <div class="tab-pane" id="center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-2">
                            <a href="#" class="thumbnail head-max-width">
                                <img class="head-max-width" style="object-fit: cover;" @click="$('#i-file').click();" :src="headResult" alt="...">
                                <input type="file" name="file" id='i-file' @change="handleFile" accept=".jpg, .jpeg" style="display: none">
                            </a>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10"><p class="form-control-static" >{{userSession.user_code}}</p></div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label">姓名</label>
                                    <div class="col-sm-10">

                                        <input class="form-control" v-model="userSession.user_name" >
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-10">

                                        <input class="form-control" v-model="userSession.user_state" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary pull-right" @click="saveUserInfo">保存</button>
                    </div>
                </div>
            </div>
        	</div>
			<div class="tab-pane" id="reply">
				<div v-for="(r,index) in reply" class="panel panel-default">
					<div class="panel-heading">产品：{{r.name}}</div>
					<div class="panel-body">
						<div v-for="(i,index) in r.replies" class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<span style="margin-left: 20px"><label>客户ID：</label>{{i.cust_id}}</span>
								</div>
								<div class="row">
									<span style="margin-left: 20px"><label>评论内容：</label>{{i.reply_comment}}</span>
								</div>
								<div class="row">
									<span style="margin-left: 20px"><label>评论时间：</label>{{i.reply_time}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
</body>
</html>