<!DOCTYPE HTML>
<html xmlns:v-on="http://www.w3.org/1999/xhtml"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Boot-CRM</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="./css/sb-admin-2.css" rel="stylesheet" />
	<link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/sweetalert.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script type="text/javascript">
        window.onload=function () {
           let customer = new Vue({
			   el: "#customer",
			   data: {
				   customerFrom: ["电话营销", "网络营销", "老客户"],
				   custIndustry: ["教育培训", "对外贸易", "电子商务", "酒店旅游", "房地产"],
				   custLevel: ["普通客户", "VIP"],
				   cust: [],
				   size: 0,
				   total: 0,
				   totalPage: 0,
				   pages: [],
				   searching: {
					   page: 1,
					   customerName: "",
					   customerFromSelect: "",
					   custIndustrySelect: "",
					   custLevelSelect: ""
				   },
				   customerTemp: {
					   edit_cust_id: "",
					   edit_customerName: "",
					   edit_customerFrom: "",
					   edit_custIndustry: "",
					   edit_custLevel: "",
					   edit_linkMan: "",
					   edit_phone: "",
					   edit_mobile: "",
					   edit_zipcode: "",
					   edit_address: "",
				   }
			   },
			   methods: {
				   search(index) {
					   if (index !== undefined) {
						   this.searching.page = index
					   }
					   axios.post('./customer/list.do',"page=" + this.searching.page +
							   "&custName=" + customer.searching.customerName +
							   "&custSource=" + customer.searching.customerFromSelect +
							   "&custIndustry=" + customer.searching.custIndustrySelect +
							   "&custLevel=" + customer.searching.custLevelSelect)
							   .then(res => {
								   this.size = res.data.size;
								   this.searching.page = res.data.page;
								   this.total = res.data.total;
								   this.cust = res.data.rows;
								   this.totalPage = Math.floor(this.total / this.size);
								   let rest = this.total % this.size;
								   if (rest > 0) this.totalPage++;
								   let localPages = [];
								   for (let i = 1; i <= this.totalPage; i++) {
									   localPages.push(i);
								   }
								   if (this.totalPage > 5) {
									   if (this.searching.page > this.totalPage - 2) {
										   this.pages = localPages.slice(-5);
									   } else if (this.searching.page < 3) {
										   this.pages = localPages.slice(0, 5);
									   } else {
										   this.pages = localPages.slice(this.searching.page - 3, this.searching.page + 2);
									   }
								   } else
									   this.pages = localPages.slice(0, localPages.length);
							   })
				   },
				   nextPage() {
					   if (this.searching.page < this.totalPage - 1) {
						   this.searching.page++
					   }
					   this.search()
				   },
				   prevPage() {
					   if (this.searching.page > 1) {
						   this.searching.page--
					   }
					   this.search()
				   },
				   // 创建客户
				   createCustomer() {
					   axios.post('./customer/create.do', $("#new_customer_form").serialize()).then(res=>
					   {
						   if (res.data === "OK") {
							   swal("更新成功").then(() => {
								   window.location.reload();
							   })
						   } else {
							   swal("更新失败").then(() => {
								   window.location.reload();
							   })
						   }
					   });
				   },
				   editCustomer(index) {
					   this.customerTemp= {
						   edit_cust_id: customer.cust[index].cust_id,
						   edit_customerName: customer.cust[index].cust_name,
						   edit_customerFrom: customer.cust[index].cust_source,
						   edit_custIndustry: customer.cust[index].cust_industry,
						   edit_custLevel: customer.cust[index].cust_level,
						   edit_linkMan: customer.cust[index].cust_linkman,
						   edit_phone: customer.cust[index].cust_phone,
						   edit_mobile: customer.cust[index].cust_mobile,
						   edit_zipcode: customer.cust[index].cust_zipcode,
						   edit_address: customer.cust[index].cust_address,
					   }
				   },
				   // 执行修改客户操作
				   updateCustomer() {
				   	axios.post('./customer/update.do', $("#edit_customer_form").serialize()).then(res=>
					{
						if (res.data === "OK") {
							swal("更新成功").then(() => {
								window.location.reload();
							})
						} else {
							swal("更新失败").then(() => {
								window.location.reload();
							})
						}
					});

				   },
				   // 删除客户
				   deleteCustomer(id) {
					   swal("确实要删除该客户吗?", {
						   dangerMode: true,
						   buttons: true,
					   }).then(() => {
						   axios.post('./customer/delete.do', "id="+id)
								   .then(res => {
									   if (res.data === "OK") {
										   swal("删除成功").then(() => {
											   window.location.reload();
										   })
									   } else {
										   swal("删除失败").then(() => {
											   window.location.reload();
										   })
									   }
								   })
					   })
				   },
				   clearCustomer() {
					   this.customerTemp= {
						   edit_cust_id: "",
						   edit_customerName: "",
						   edit_customerFrom: "",
						   edit_custIndustry: "",
						   edit_custLevel: "",
						   edit_linkMan: "",
						   edit_phone: "",
						   edit_mobile: "",
						   edit_zipcode: "",
						   edit_address: "",
					   }
				   }
			   }
		   });
           customer.search();
            new Vue({
                el: "#product",
                data: {},
                method: {}

            });
        };

        function logout() {
            $.ajax({
                url:"./request/logout.do",
                method:"post"
            }).then(()=> {
                swal("退出成功").then(()=>
                {
                    window.location.href="./index.html"
                });

            }).catch(()=> {
                swal("退出失败");
            })
        }
    </script>
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			<span class="sr-only">下拉菜单</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="./index.html">BOOT-CRM</a>
	</div>
	  <div id="navbar" class="collapse navbar-collapse">
		  <ul class="nav navbar-top-links navbar-right">
			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  <i class="fa fa-tasks fa-fw"></i>
					  <i class="fa fa-caret-down"></i>
				  </a>
				  <ul class="dropdown-menu dropdown-tasks">
					  <li>
						  <a href="#">
							  <div>
								  <p>
									  <strong>任务 1</strong>
									  <span class="pull-right text-muted">完成40%</span>
								  </p>
								  <div class="progress progress-striped active">
									  <div class="progress-bar progress-bar-success"
										   role="progressbar" aria-valuenow="40" aria-valuemin="0"
										   aria-valuemax="100" style="width: 40%">
										  <span class="sr-only">完成40%</span>
									  </div>
								  </div>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a href="#">
							  <div>
								  <p>
									  <strong>任务 2</strong>
									  <span class="pull-right text-muted">完成20%</span>
								  </p>
								  <div class="progress progress-striped active">
									  <div class="progress-bar progress-bar-info" role="progressbar"
										   aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
										   style="width: 20%">
										  <span class="sr-only">完成20%</span>
									  </div>
								  </div>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a class="text-center" href="#">
							  <strong>查看所有任务</strong>
							  <i class="fa fa-angle-right"></i>
						  </a>
					  </li>
				  </ul>
			  </li>
			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  <i class="fa fa-bell fa-fw"></i>
					  <i class="fa fa-caret-down"></i>
				  </a>
				  <ul class="dropdown-menu dropdown-alerts">
					  <li>
						  <a href="#">
							  <div>
								  <i class="fa fa-comment fa-fw"></i> 新回复
								  <span class="pull-right text-muted small">4分钟之前</span>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a href="#">
							  <div>
								  <i class="fa fa-envelope fa-fw"></i> 新消息
								  <span class="pull-right text-muted small">4分钟之前</span>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a href="#">
							  <div>
								  <i class="fa fa-tasks fa-fw"></i> 新任务
								  <span class="pull-right text-muted small">4分钟之前</span>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a href="#">
							  <div>
								  <i class="fa fa-upload fa-fw"></i> 服务器重启
								  <span class="pull-right text-muted small">4分钟之前</span>
							  </div>
						  </a>
					  </li>
					  <li class="divider"></li>
					  <li>
						  <a class="text-center" href="#">
							  <strong>查看所有提醒</strong>
							  <i class="fa fa-angle-right"></i>
						  </a>
					  </li>
				  </ul>
			  </li>
			  <li class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  <i class="fa fa-user fa-fw"></i>
					  <i class="fa fa-caret-down"></i>
				  </a>
				  <ul class="dropdown-menu dropdown-user">
					  <li>
						  <a href="#"><i class="fa fa-user fa-fw"></i>
						  用户:
						  </a>
					  </li>
					  <li><a href="#"><i class="fa fa-gear fa-fw"></i> 系统设置</a></li>
					  <li class="divider"></li>
					  <li>
						  <a href="#" onclick="logout();">
							  <i class="fa fa-sign-out fa-fw"></i>退出登录
						  </a>
					  </li>
				  </ul>
			  </li>
		  </ul>
		  <div class="navbar-default sidebar" role="navigation">
			  <div class="sidebar-nav navbar-collapse">
				  <ul class="nav" id="side-menu">
					  <li>
						  <a data-toggle="tab" href="#customer">
							  <i class="fa fa-edit fa-fw"></i> 客户管理
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#product">
							  <i class="fa fa-dashboard fa-fw" ></i> 产品管理
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#view">
							  <i class="fa fa-tasks fa-fw" aria-hidden="true"></i> 资源可视化
						  </a>
					  </li>
					  <li>
						  <a data-toggle="tab" href="#order">
							  <i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i> 工单系统
						  </a>
					  </li>
				  </ul>
			  </div>
		  </div>
	  </div>
  </nav>
	<div id="page-wrapper">
        <div style="padding-top: 20px"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="customer">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="customerName">客户名称</label>
                                <input type="text" class="form-control" id="customerName" v-model="searching.customerName"/>
                            </div>
                            <div class="form-group">
                                <label for="customerFrom">客户来源</label>
                                <select	class="form-control" id="customerFrom" v-model="searching.customerFromSelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in customerFrom">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="custIndustry">所属行业</label>
                                <select	class="form-control" id="custIndustry" v-model="searching.custIndustrySelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in custIndustry">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="custLevel">客户级别</label>
                                <select	class="form-control" id="custLevel" v-model="searching.custLevelSelect">
                                    <option value="">请选择</option>
                                    <option v-for="item in custLevel">{{item}}</option>
                                </select>
                            </div>
                            <button class="btn btn-primary btn-sm pull-right" v-on:click="search(undefined)">查询</button>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">客户信息列表</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>客户名称</th>
                                <th>客户来源</th>
                                <th>客户所属行业</th>
                                <th>客户级别</th>
                                <th>固定电话</th>
                                <th>手机</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in cust">
                                <td>{{item.cust_id}}</td>
                                <td>{{item.cust_name}}</td>
                                <td>{{item.cust_source}}</td>
                                <td>{{item.cust_industry}}</td>
                                <td>{{item.cust_level}}</td>
                                <td>{{item.cust_phone}}</td>
                                <td>{{item.cust_mobile}}</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#customerEditDialog" @click= "editCustomer(index)">修改</a>
                                    <a href="#" class="btn btn-danger btn-xs" @click="deleteCustomer(item.cust_id)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-primary btn-sm pull-right inter-top" data-toggle="modal" data-target="#newCustomerDialog" @click="clearCustomer">新建</a>
                        <div class="col-md-12 text-right">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li v-bind:class="{disabled:searching.page==1}">
                                        <a role="button" @click="prevPage" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li v-for="item in pages" v-bind:class="{active:searching.page==item}" >
										<span role="button" @click="search(item)">{{item}}</span>
									</li>
                                    <li v-bind:class="{disabled:searching.page==totalPage}" >
										<a role="button" @click="nextPage" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
				<div class="modal fade" id="newCustomerDialog" tabindex="-1" role="dialog"
					 aria-labelledby="newCustom">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="newCustom">新建客户信息</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" id="new_customer_form">
									<div class="form-group">
										<label for="new_customerName" class="col-sm-2 control-label">客户名称</label>
										<div class="col-sm-10">
											<input type="text" v-model="customerTemp.edit_customerName" class="form-control" id="new_customerName" placeholder="客户名称" name="cust_name" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_customerFrom" class="col-sm-2 control-label">客户来源</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10"  v-model="customerTemp.edit_customerFrom" id="new_customerFrom" name="cust_source">
												<option value="">请选择</option>
												<option v-for="item in customerFrom">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="new_custIndustry" class="col-sm-2 control-label">所属行业</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10" v-model="customerTemp.edit_custIndustry" id="new_custIndustry" name="cust_industry">
												<option value="">请选择</option>
												<option v-for="item in custIndustry">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="new_custLevel" class="col-sm-2 control-label">客户级别</label>
										<div class="col-sm-10">
											<select	class="form-control" v-model="customerTemp.edit_custLevel" id="new_custLevel" name="cust_level" >
												<option value="">请选择</option>
												<option v-for="item in custLevel">{{item}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="new_linkMan" class="col-sm-2 control-label">联系人</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_linkMan" id="new_linkMan" placeholder="联系人" name="cust_linkman" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_phone" class="col-sm-2 control-label">固定电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"  v-model="customerTemp.edit_phone"  id="new_phone" placeholder="固定电话" name="cust_phone" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_mobile" class="col-sm-2 control-label">移动电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_mobile" id="new_mobile" placeholder="移动电话" name="cust_mobile" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_zipcode" class="col-sm-2 control-label">邮政编码</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_zipcode" id="new_zipcode" placeholder="邮政编码" name="cust_zipcode" />
										</div>
									</div>
									<div class="form-group">
										<label for="new_address" class="col-sm-2 control-label">联系地址</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_address" id="new_address" placeholder="联系地址" name="cust_address" />
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="createCustomer">创建客户</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="customerEditDialog" tabindex="-1" role="dialog"
					 aria-labelledby="editCustom">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="editCustom">编辑客户信息</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" id="edit_customer_form">
									<input type="text" v-model="customerTemp.edit_cust_id" class="form-control hidden" id="new_cust_id"  name="cust_id" />
									<div class="form-group">
										<label for="edit_customerName" class="col-sm-2 control-label">客户名称</label>
										<div class="col-sm-10">
											<input type="text" v-model="customerTemp.edit_customerName" class="form-control" id="edit_customerName" placeholder="客户名称" name="cust_name" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_customerFrom" class="col-sm-2 control-label">客户来源</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10"  v-model="customerTemp.edit_customerFrom" id="edit_customerFrom" name="cust_source">
												<option value="">请选择</option>
												<option v-for="item in customerFrom">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="edit_custIndustry" class="col-sm-2 control-label">所属行业</label>
										<div class="col-sm-10">
											<select	class="form-control col-sm-10" v-model="customerTemp.edit_custIndustry" id="edit_custIndustry" name="cust_industry">
												<option value="">请选择</option>
												<option v-for="item in custIndustry">{{item}}</option>
											</select>
										</div>

									</div>
									<div class="form-group">
										<label for="edit_custLevel" class="col-sm-2 control-label">客户级别</label>
										<div class="col-sm-10">
											<select	class="form-control" v-model="customerTemp.edit_custLevel" id="edit_custLevel" name="cust_level" >
												<option value="">请选择</option>
												<option v-for="item in custLevel">{{item}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="edit_linkMan" class="col-sm-2 control-label">联系人</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_linkMan" id="edit_linkMan" placeholder="联系人" name="cust_linkman" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_phone" class="col-sm-2 control-label">固定电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"  v-model="customerTemp.edit_phone"  id="edit_phone" placeholder="固定电话" name="cust_phone" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_mobile" class="col-sm-2 control-label">移动电话</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_mobile" id="edit_mobile" placeholder="移动电话" name="cust_mobile" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_zipcode" class="col-sm-2 control-label">邮政编码</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_zipcode" id="edit_zipcode" placeholder="邮政编码" name="cust_zipcode" />
										</div>
									</div>
									<div class="form-group">
										<label for="edit_address" class="col-sm-2 control-label">联系地址</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" v-model="customerTemp.edit_address" id="edit_address" placeholder="联系地址" name="cust_address" />
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" @click="updateCustomer">保存修改</button>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="tab-pane" id="product">
				<span>产品</span>
            </div>
			<div class="tab-pane" id="view">
				<span>资源可视化</span>
			</div>
			<div class="tab-pane" id="order">
				<span>订单</span>
			</div>
        </div>
	</div>
</div>
</body>
</html>